@font-face {
    font-family: 'Propaganda';
    src: url('Propaganda.woff2') format('woff2'),
        url('Propaganda.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

