:root {
  --bs-font-sans-serif: Propaganda, 
                        Garamond, 
                        Cardinal
                        gotham thin, 
                        gotham light, 
                        system-ui, 
                        -apple-system, 
                        "Segoe UI", 
                        Roboto, 
                        "Helvetica Neue", 
                        Arial, 
                        sans-serif;
}

.font-effect-3d {
  color: #ff3939;
  text-shadow: 0 1px 0 #84010e,
               0 2px 0 #c2192a,
               0 3px 0 #a01422,
               0 4px 0 #8e121e,
               0 5px 0 #720f19,
               0 6px 0 #5e0c15,
               0 7px 0 #46090f,
               0 8px 7px #0e0203;
}

.font-effect-emboss {
  text-shadow: 0 1px 20px #850101,
               0 -2px 2px hsl(0, 95%, 52%) !important;
}

body {
  filter: contrast(80%)
          blur(0.7px);
}

.devCont {
  background: url("../Images/DM 3.png") 
                  no-repeat 
                  center;
}

.overlay {
  opacity: 10%;
}

.accordion-item {
  border: none;
  background: transparent;
}

@font-face {
  font-family: Propaganda;
  src: url(../Fonts/Propaganda.TTF) 
       format('truetype'),
       url(../Fonts/Propaganda.woff) 
       format('woff'),
       url(../Fonts/Propaganda.woff2) 
       format('woff2');
}

@font-face {
  font-family: Cinzel;
  src: url(../Fonts/Cinzel/Cinzel-VariableFont_wght.ttf)
       format('truetype');;
}

@font-face {
  font-family: Gotham;
  src: url(../Fonts/Gotham-font-family/Gotham/Gotham-Bold.otf)
       format('opentype');
}

@font-face {
  font-family: Cardinal;
  src: url(../Fonts/Cardinal.ttf)
       format('truetype'),
       url(../Fonts/Cardinal.otf)
       format('opentype');
}

.accordion-button {
  font-family: Propaganda, 
               serif !important;
  font-size: 10vh !important;
  letter-spacing: 1px !important;
  color: rgb(91, 0, 9) !important;
  background: transparent !important;
  filter: blur(0.7px);
}

.accordion-button:hover {
  color: rgb(120, 0, 12)!important;
}

.accordion-body {
  max-height: 30vh;
  background: transparent !important;
}

.vector1 {
  opacity: 50%;
  filter: blur(1px);
}

.vector2 {
  opacity: 40%;
  top: 180px;
  left: 140px;
  filter: blur(1px);
}

.sumHed {
    font-family: gotham thin,
                 serif;
    font-size: 6.5vw;
    text-shadow: 1px 1px 5px #b93737, 
               -1px -1px 5px #be1518;
    color: #915353 !important;
}

a {
 text-decoration: none;
}

p, h3 {
  font-family: Gotham thin,
               sans-serif;
  font-size: 4vw;
  letter-spacing: 2px;
  line-height: 30px;
  opacity: 100%;
  color: #ff8d8d !important;
  text-shadow: 1px 1px 5px #885151, 
               -1px -1px 5px #be1518;
}

.dTop {
  font-family: gotham thin,
               serif;
  text-shadow: 1px 1px 5px #b93737, 
               -1px -1px 5px #be1518;
  color: #915353 !important;
  top: 10px;
  font-size: 10vw !important;
  letter-spacing: 4px;
  left: -10px;
  filter: blur(0.8px);
}

.dTopVidDiv {
  width: 266px !important; 
  height: 135px !important;
  border: 5px solid white;
}

.landscapeVid {
  top:-33px;
  left:-5px;
}

.phone {
  font-family: gotham thin,
               serif;
  text-shadow: 1px 1px 5px #b93737, 
               -1px -1px 5px #be1518;
  color: #915353 !important;
  letter-spacing: 4px;
  font-size: 10vw !important;
  filter: blur(0.8px);
}

.phoneVidDiv {
  width: 160px !important; 
  height: 340px !important;
  border: 5px solid white;
}

.landscapeVid2 {
  top: -1px;
  left: -31px;
}

.skilList {
  font-family: noto sans, 
               Verdana, 
               sans-serif;
  list-style-type: none;
  font-size: 5.5vw;
  letter-spacing: 4px;
  opacity: 80%;
  color: rgb(198, 146, 146) !important;
}

.skilHed {
  letter-spacing: 5px;
  font-family: gotham thin,
               serif;
  text-shadow: 1px 1px 5px #b93737, 
               -1px -1px 5px #be1518;
  color: #915353 !important;
}

.foot {
  font-size: 3.5vw !important;
  font-family: noto sans light, 
               Verdana, 
               sans-serif;
  opacity: 70%;
  letter-spacing: 1px;
  text-shadow: 3px 2px 6px,
               -3px -2px 6px red;
  text-decoration: none;
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { 

 .font-effect-emboss {
  text-shadow: 2px 5px 10px #ff4141,
               -10px -2px 50px hsl(0, 100%, 50%) !important;
 }

 .btn-secondary {
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
 }

 .btn:hover {
   background-color: transparent !important;
   border-color: transparent !important;
   color: #fb5260!important;
   text-shadow: 5px 10px 50px #d01017,
                -2px -1px 2px #ed000c;
 }

 .popover-max-width {
  max-width: 700px !important;
 }

 .vh-100 {
   height: 100vh !important;
 }

 .w-100 {
   width: 100% !important;
 }
 
 .top-0 {
   top: 180px !important;
 }

 .top-50 {
   top: -50px !important;
 }

 body {
  filter: contrast(90%)
          blur(0.7px);
 }

 .devCont {
   background: url("../Images/DM 3.png")
                    no-repeat
                    center;
 }

 .summary, .skills, .folio {
   left: -450px !important;
 }

 .folBtn, .skilBtn, .sumBtn {
   background: transparent !important;
   border: none !important;
   font-family: Propaganda, 
                serif !important;
   font-size: 7.5vw !important;
   letter-spacing: 1px;
   filter: blur(1.6px);
   text-shadow: 10px 2px 15px rgb(255, 0, 0), 
                -7px -3px 50px rgb(143, 0, 0); 
 } 

 .sumBtn:hover {
   color: #be1518 !important;
 }

 .skilBtn:hover {
   color: #be1518 !important;
 }

 .folBtn:hover {
   color: #be1518 !important;
 }

 .sumDropDown {
   border-radius: 0;
   border-color: #ff1f36;
   animation-name: ddMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   box-shadow: -910px 300px 1000px #552427,
               -100px -50px 500px #ff1f1f;
   overflow: scroll !important;            
   width: 0;
   height: 500%;
   transform: translate3d(995px, -48px, -135px) !important;
 }

 .sumBody::before {
   filter: blur(10px);
 }

 .folDropDown {
   border-radius: 0;
   border-color: #ff1f36;
   animation-name: ddMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   box-shadow: -610px 500px 1000px #d41818,
               -100px -50px 500px #552427;
   overflow: hidden !important;            
   width: 0;
   height: 500%;
   transform: translate3d(995px, -348px, -135px) !important;
 }

 .skilDropDown {
   border-radius: 0;
   border-color: #ff1f36;
   animation-name: ddMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   box-shadow: -910px 300px 1000px #d41818,
               -100px -50px 500px #ff1f1f;
   overflow: hidden !important;            
   width: 0;
   height: 500%;
   transform: translate3d(995px, -548px, -135px) !important;
 }

 @keyframes ddMenu {
  from {background-color: transparent;
        opacity: 0;
        width: 0;
        left: -100px;}
  to {background-color: #552427;
      width: 61.8%;
      left: 0;
      opacity: 50%;}
 }

 .sumBody a{
   overflow: scroll;
   text-decoration: none;
 }

 .sumHed {
  font-family: Propaganda, 
               serif;
  color: #e58d8d !important;
  letter-spacing: 3.5px !important;
  opacity: 100%;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 250px 100px 50px rgb(152, 36, 36),
               50px -10px 15px rgb(255, 50, 50) !important;
  filter: blur(1.7px) !important;
 }

 p, h3, pre {
  font-family: noto sans light, 
               sans-serif;
  font-size: 1.2vw;
  letter-spacing: 3px;
  text-shadow: 1.5px 2px 3px rgb(255, 203, 203), 
               -1.5px -2px 5px rgb(254, 129, 129) !important;
  opacity: 100%;
  color: #ff99a3 !important;
  overflow-x: hidden;
 }

 .folHed {
   font-family: cardinal, 
                serif;
   color: #e58d8d;
   letter-spacing: 2.5px !important;
   line-height: 150px;
   opacity: 100%;
   font-size: 7vw;
   font-weight: bold;
   filter: blur(2.5px);
   text-shadow: -20px 10px 40px rgb(170, 54, 54),
                50px -10px 20px rgb(255, 50, 50);
 }

.folSubHed {
  font-family: cardinal, 
               BBH Hegarty, 
               sans-serif;
  letter-spacing: 10.5px !important;
  line-height: 150px;
  opacity: 80%;
}

.dTop, .phone {
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 8px !important;
}

#button {
  background: transparent !important;
  border: none;
  text-shadow: 1.5px 2px 3px rgb(255, 203, 203), 
               -1.5px -2px 5px rgb(254, 129, 129) !important;
}

.popover {
  max-width: 30%;
  max-height: 78%;
  background: transparent;
  overflow-x: hidden;
  border-color: rgb(100, 55, 55);
  border-width: 1px;
}

.popover-arrow {
  display: none !important;
}

.dTopVid {
  left: -1px;
  font-size: 1.1vw !important;
}

.landscapeVid2 {
  top: 220px !important;
  left: -5px !important;
  width: 400px;
}

.phoneVid {
  left: -100px !important;
  top: 0px;
  opacity: 100%;
}

.portraitVid {
  width: 200px;
  top: -50px;
  left: 50px;
}

.folHedAug {
  font-family: cardinal, 
               serif;
  color: #e58d8d;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  top: -50px;
  font-size: 7vw;
  font-weight: bold;
  filter: blur(2.5px);
  text-shadow: -20px 10px 40px rgb(170, 54, 54),
               50px -10px 20px rgb(255, 50, 50);
}

.dTopAug {
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;             
  top: 510px;
  color: #915353 !important;
}

.phoneAug {            
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;             
  top: -400px;
  color: #915353 !important;
}

 .skilHed {
   font-family: propaganda, 
               serif;
   color: #ff3a3a;
   letter-spacing: 2.5px !important;
   line-height: 150px;
   opacity: 100%;
   font-size: 5vw;
   font-weight: bold;
   text-shadow: 110px 40px 50px rgb(156, 4, 4),
                80px 0 10px rgb(255, 0, 0);
   filter: blur(2px);
   margin-top: 100px;
   padding-bottom: 10px;
 }

 .skilHed2 {
   font-family: propaganda, 
                serif;
   color: #ff3a3a;
   letter-spacing: 2.5px !important;
   line-height: 150px;
   opacity: 100%;
   font-size: 5vw;
   font-weight: bold;
   text-shadow: 110px 40px 50px rgb(156, 4, 4),
                80px 0 10px rgb(255, 0, 0);
   filter: blur(2px);
   margin-top: 1px !important;
   padding-bottom: 1px !important;
 }

 .vector1 {
   opacity: 60%;
   width: 20% !important;
   top: 510px !important;
   left: 300px !important;
 }

 .vector2 {
   opacity: 50%;
   width: 20%;
   top: 200px;
   left: 400px;
 }

 .skilList {
   list-style-type: none;
   font-family: cardinal, 
                sans serif;
   font-size: 3vw;
   letter-spacing: 8px;
   text-align: justify;
   opacity: 100%;
   padding: 1px !important;
 }

 .foot {
   font-size: 1vw !important;
   font-family: noto sans light, 
                serif;
   opacity: 80%;
   letter-spacing: 2.5px;
   text-shadow: 4px 3px 7px rgb(255, 0, 0),
                -4px -3px 7px red;
 }

}

@media (min-width: 1600px) {

 .font-effect-emboss {
  text-shadow: 2px 5px 10px #ff4141,
               -10px -2px 50px hsl(0, 100%, 50%) !important;
 }

 .btn-secondary {
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
 }

 .btn:hover {
   background-color: transparent !important;
   border-color: transparent !important;
   color: #fb5260!important;
   text-shadow: 5px 10px 50px #d01017,
                -2px -1px 2px #ed000c;
 }

 .popover-max-width {
  max-width: 700px !important;
 }

 .vh-100 {
   height: 100% !important;
 }

 .w-100 {
  width: 100% !important;
 }
 
 .top-0 {
   top: 140px !important;
 }

 .top-50 {
   top: -50px !important;
 }

 body {
  filter: contrast(97%)
          blur(0.7px);
 }

 .devCont {
    background: url("../Images/DM 3.png") 
                    no-repeat 
                    center;
 }

 .summary, .skills, .folio {
  left: -500px !important;
 }

 .folBtn, .skilBtn, .sumBtn {
  background: transparent !important;
  border: none !important;
  font-family: propaganda, serif;
  font-size: 5.5vw !important;
  letter-spacing: 10px;
  filter: blur(2.5px);
  text-shadow: 40px 2px 50px rgb(255, 0, 0), 
               -7px -3px 20px rgb(143, 0, 0); 
 }

 .sumDropDown {
  border-radius: 0;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -910px 300px 1000px #552427,
              -100px -50px 500px #ff1f1f;
  overflow: scroll !important;            
  width: 0;
  height: 399%;
  transform: translate3d(1072px, -46px, -135px) !important;
 }

 .sumBody::before {
  filter: blur(12px);
 }

 .folDropDown {
   border-radius: 0;
   border-color: #ff1f36;
   animation-name: ddMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   box-shadow: -610px 500px 1000px #d41818,
               -100px -50px 500px #552427;
   overflow: hidden !important;
   top: 2px !important;           
   width: 0;
   height: 399%;
   transform: translate3d(1072px, -250px, -135px) !important;
 }

 .skilDropDown {
  border-radius: 0;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -910px 300px 1000px #d41818,
              -100px -50px 500px #ff1f1f;
  overflow: hidden !important;            
  width: 0;
  height: 400%;
  transform: translate3d(1072px, -450px, -135px) !important;
 }

 @keyframes ddMenu {
  from {background-color: transparent;
        opacity: 0;
        width: 0;
        left: -100px;}
  to {background-color: #552427;
      width: 60.5%;
      left: 0;
      opacity: 50%;}
 }

 .sumBody a{
  overflow: scroll;
  text-decoration: none;
 }

 .sumHed {
  font-family: propaganda, 
               serif;
  letter-spacing: 3.5px !important;
  opacity: 100%;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 250px 100px 50px rgb(156, 4, 4),
               80px -0px 10px rgb(255, 0, 0);
  filter: blur(2px);
 }

 .folHed {
   font-family: cardinal, 
                serif;
   color: #e58d8d;
   letter-spacing: 2.5px !important;
   line-height: 150px;
   opacity: 100%;
   font-size: 7vw;
   font-weight: bold;
   filter: blur(2.5px);
   text-shadow: -20px 10px 40px rgb(170, 54, 54),
                50px -10px 20px rgb(255, 50, 50);
 }

.folSubHed {
  font-family: cardinal, 
               BBH Hegarty, 
               sans-serif;
  letter-spacing: 10.5px !important;
  line-height: 150px;
  opacity: 80%;
}

.dTop, .phone {
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 8px !important;
}

#button {
  background: transparent !important;
  border: none;
  text-shadow: 1.5px 2px 3px rgb(255, 203, 203), 
               -1.5px -2px 5px rgb(254, 129, 129) !important;
}

.popover {
  width: 560px;
  height: 670px;
  background: transparent;
  overflow-x: hidden;
  border-color: rgb(100, 55, 55);
  border-width: 1px;
}

.popover-arrow {
  display: none !important;
}

.phoneVid {
  left: -80px !important;
  top: 0px;
  font-family: noto sans light, 
               sans-serif;
  font-size: 1vw;
  letter-spacing: 3px;
  text-shadow: 1.5px 2px 3px rgb(255, 203, 203), 
               -1.5px -2px 5px rgb(254, 129, 129) !important;
  opacity: 100%;
  color: #ff99a3 !important;
}

.portraitVid {
  left: 155px !important;
  width: 450px;
  top: 0px !important;
}

.dTopVid {
  left: -1px;
}

.landscapeVid2 {
  top: 160px !important;
  left: -10px !important;
  width: 540px;
}

.folHedAug {
  font-family: cardinal, 
               serif;
  color: #e58d8d;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  top: -50px;
  font-size: 7vw;
  font-weight: bold;
  filter: blur(2.5px);
  text-shadow: -20px 10px 40px rgb(170, 54, 54),
               50px -10px 20px rgb(255, 50, 50);
}

.dTopAug {
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;             
  top: 480px;
  color: #915353 !important;
}

.phoneAug {            
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;             
  top: -270px;
  color: #915353 !important;
}

.skilHed, .skilHed2 {
  font-family: cardinal, 
               serif;
  color: #e58d8d;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: -30px 10px 40px rgb(212, 64, 64),
                60px -10px 15px rgb(255, 50, 50);
  filter: blur(2px);
}

.vector1 {
  opacity: 60%;
  width: 20% !important;
  top: 310px !important;
  left: 530px !important;
}

.vector2 {
  opacity: 50%;
  width: 20%;
  top: 200px;
  left: 400px;
}

.skilList {
  list-style-type: none;
  font-family: Gotham XNarrow Thin, 
               sans serif;
  font-size: 3vw;
  letter-spacing: 10px;
  text-align: justify;
  opacity: 100%;
}

p, h3 {
  font-family: gotham xnarrow light, 
               serif;
  font-size: 1.1vw;
  letter-spacing: 4px;
  text-shadow: 1px 2px 30px rgb(255, 0, 0), 
               -2px -2px 30px rgb(255, 0, 0);
  opacity: 100%;
}

.foot {
  font-size: 0.85vw !important;
  font-family: noto sans light, 
               serif;
  opacity: 70%;
  letter-spacing: 2.5px;
  text-shadow: 4px 3px 7px red,
               -4px -3px 7px red;
}

}

@media (min-width: 1900px) {

 .font-effect-emboss {
  text-shadow: 2px 5px 10px #ff4141,
               -10px -2px 50px hsl(0, 100%, 50%) !important;
 }

 .btn-secondary {
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
 }

 .btn:hover {
   background-color: transparent !important;
   border-color: transparent !important;
   color: #fb5260!important;
   text-shadow: 5px 10px 50px #d01017,
                -2px -1px 2px #ed000c;
 }

 .popover-max-width {
  max-width: 700px !important;
 }

 .vh-100 {
   height: 100% !important;
 }

 .w-100 {
  width: 100% !important;
 }

 .top-0 {
   top: 170px !important;
 }

 .top-50 {
   top: -20px !important;
 }

 .font-effect-3d {
  color: #ff3939 !important;
  text-shadow: 0 1px 0 #84010e,
               0 2px 0 #c2192a,
               0 3px 0 #a01422,
               0 4px 0 #8e121e,
               0 5px 0 #720f19,
               0 6px 0 #5e0c15,
               0 7px 0 #46090f,
               0 8px 7px #0e0203 !important;
 }

 body {
  filter: contrast(97%)
          blur(0.7px);
 }

 .devCont {
    background: url("../Images/DM 3.png") no-repeat center;
 }

 .summary, .skills, .folio {
  left: -500px !important;
 }

 .folBtn, .skilBtn, .sumBtn {
  background: transparent !important;
  border: none !important;
    font-family: propaganda, serif;
  font-size: 5.5vw !important;
  letter-spacing: 10px;
  filter: blur(2.5px);
  text-shadow: 40px 2px 50px rgb(255, 0, 0), 
               -7px -3px 20px rgb(143, 0, 0); 
 }

 .sumDropDown {
  border-radius: 0;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -910px 300px 1000px #552427,
              -100px -50px 500px #ff1f1f;
  overflow: scroll !important;            
  width: 0;
  height: 500%;
  transform: translate3d(1272px, -50px, -135px) !important;
 }

 .sumBody::before {
  filter: blur(12px);
 }

 .folDropDown {
   border-radius: 0;
   border-color: #ff1f36;
   animation-name: ddMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   box-shadow: -610px 500px 1000px #d41818,
               -100px -50px 500px #552427;
   overflow: hidden !important;
   top: 2px !important;           
   width: 0;
   height: 400%;
   transform: translate3d(1272px, -287px, -135px) !important;
 }

 .skilDropDown {
  border-radius: 0;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -910px 300px 1000px #d41818,
              -100px -50px 500px #ff1f1f;
  overflow: hidden !important;            
  width: 0;
  height: 500%;
  transform: translate3d(1272px, -522px, -135px) !important;
 }

 @keyframes ddMenu {
  from {background-color: transparent;
        opacity: 0;
        width: 0;
        left: -100px;}
  to {background-color: #552427;
      width: 56.5%;
      left: 0;
      opacity: 50%;}
 }

 .sumBody a{
  overflow: scroll;
  text-decoration: none;
 }

 .sumHed {
  font-family: propaganda, 
               serif;
  letter-spacing: 3.5px !important;
  opacity: 100%;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 250px 100px 50px rgb(156, 4, 4),
               80px -0px 10px rgb(255, 0, 0);
  filter: blur(2px);
 }

 .folHed {
   font-family: cardinal, 
                serif;
   color: #e58d8d;
   letter-spacing: 2.5px !important;
   line-height: 150px;
   opacity: 100%;
   font-size: 7vw;
   font-weight: bold;
   filter: blur(2.5px);
   text-shadow: -20px 10px 40px rgb(170, 54, 54),
                50px -10px 20px rgb(255, 50, 50);
 }

.folSubHed {
  font-family: cardinal, 
               BBH Hegarty, 
               sans-serif;
  letter-spacing: 10.5px !important;
  line-height: 150px;
  opacity: 80%;
}

#button {
  background: transparent !important;
  border: none;
  text-shadow: 1.5px 2px 3px rgb(255, 203, 203), 
               -1.5px -2px 5px rgb(254, 129, 129) !important;
}

.popover {
  width: 610px;
  height: 670px;
  background: transparent;
  overflow-x: hidden;
  border-color: rgb(100, 55, 55);
  border-width: 1px;
}

.popover-arrow {
  display: none !important;
}

.phoneVid {
  left: -120px !important;
  top: 0px;
}

.portraitVid {
  left: -60px !important;
  top: 60px !important;
}

.dTop, .phone {
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;
}

.dTopVid {
  left: -5px;
}

.landscapeVid2 {
  top: 160px !important;
  left: -2px !important;
}

.folHedAug {
  font-family: cardinal, 
               serif;
  color: #e58d8d;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  top: -50px;
  font-size: 7vw;
  font-weight: bold;
  filter: blur(2.5px);
  text-shadow: -20px 10px 40px rgb(170, 54, 54),
               50px -10px 20px rgb(255, 50, 50);
}

.dTopAug {
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;             
  top: 530px;
  color: #915353 !important;
}

.phoneAug {            
  font-family: Gotham XNarrow Thin, 
               sans-serif;
  font-size: 6vw !important;
  letter-spacing: 10px !important;             
  top: -320px;
  color: #915353 !important;
}

.skilHed, .skilHed2 {
  font-family: cardinal, 
               serif;
  color: #e58d8d;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: -30px 10px 40px rgb(212, 64, 64),
                60px -10px 15px rgb(255, 50, 50);
  filter: blur(2px);
}

.vector1 {
  opacity: 60%;
  width: 20% !important;
  top: 310px !important;
  left: 650px !important;
}

.vector2 {
  opacity: 50%;
  width: 20%;
  top: 200px;
  left: 400px;
}

.skilList {
  list-style-type: none;
  font-family: Gotham XNarrow Thin, 
               sans serif;
  font-size: 3vw;
  letter-spacing: 10px;
  text-align: justify;
  opacity: 100%;
}

p, h3, pre {
  font-family: gotham xnarrow light, 
               serif;
  font-size: 1.1vw;
  letter-spacing: 4px;
  text-shadow: 1px 2px 30px rgb(255, 0, 0), 
               -2px -2px 30px rgb(255, 0, 0);
  opacity: 100%;
}

.foot {
  font-size: 0.85vw !important;
  font-family: noto sans light, 
               serif;
  opacity: 70%;
  letter-spacing: 2.5px;
  text-shadow: 4px 3px 7px red,
               -4px -3px 7px red;
}

}