.font-effect-3d {
  color: #ff3939 !important;
  text-shadow: 0px 1px 0px #84010e, 
               0px 2px 0px #c2192a, 
               0px 3px 0px #a01422, 
               0px 4px 0px #8e121e, 
               0px 5px 0px #720f19, 
               0px 6px 0px #5e0c15, 
               0px 7px 0px #46090f, 
               0px 8px 7px #0e0203 !important;
}

body {
  filter: contrast(97%)
          blur(0.7px);
}

.devCont {
  background: url("../Images/DM 3.png")
              no-repeat;
  background-position: center;
}

.overlay {
  opacity: 50%;
}

.accordion-item {
  border: none;
  background: transparent;
}

@font-face {
  font-family: propaganda;
  src: url(../../Fonts/Propaganda.TTF);
  font-family: cardinal;
  src: url(../../Fonts/Cardinal.ttf);
  font-family: BBH Bartle;
  src: url(../../Fonts/BBH_Bartle/BBHBartle-Regular.ttf);
  font-family: Cinzel;
  src: url(../../Fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

.accordion-button {
  font-family: propaganda, Cinzel black, sans serif;
  font-size: 15vw !important;
  letter-spacing: 1px;
  text-shadow: 20px 3px 32px rgb(254, 0, 0),
               -10px -1px 20px rgb(102, 13, 13);
  background: transparent;
  filter: blur(1px);
}

.accordion-body {
  max-height: 30vh;
  background: transparent !important;
}

.vector1 {
  opacity: 70%;
}

.vector2 {
  opacity: 60%;
  top: 180px;
  left: 140px;
}

p, h3 {
  font-family: noto sans light;
  font-size: 4vw;
  letter-spacing: 2px;
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(185, 18, 18), 
               -3px -3px 5px rgb(255, 75, 75);
  opacity: 120%;
}

.sumHed, .skilHed, .folHed {
  font-family: propaganda, sans-serif;
  opacity: 50%;
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px rgb(255, 0, 0), 
               -1px -1px 10px rgb(255, 0, 0);
}

.dTop {
  font-family: cardinal, BBH Hegarty, sans-serif;
  top: 10px !important;
  font-size: 10vw !important;
  left: -10px;
  filter: blur(0.8px);
}

.dTopVidDiv {
  width: 270px !important; 
  height: 135px !important;
  border: 5px solid white;
}

.landscapeVid {
  top:-33px;
  left:-5px;
}

.phone {
  font-family: cardinal, BBH Hegarty, sans-serif;
  font-size: 10vw !important;
  filter: blur(0.8px);
}

.phoneVidDiv {
  width: 160px !important; 
  height: 340px !important;
  border: 5px solid white;
}

.landscapeVid2 {
  top: -1px;
  left: -31px;
}

.sumList, .skilList {
  font-family: cardinal;
  list-style-type: none;
  font-size: 5.5vw;
  letter-spacing: 3px;  
  text-shadow: 3px 3px 5px rgb(185, 18, 18), 
               -3px -3px 5px rgb(255, 75, 75);
}

.foot {
  font-size: 3.5vw !important;
  font-family: noto sans light;
  opacity: 70%;
  letter-spacing: 1px;
  text-shadow: 3px 2px 6px,
               -3px -2px 6px red;
  text-decoration: none;
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) {

.vh-100 {
  height: 100vh !important;
}

.w-100 {
  width: 100% !important;
}

.fs-5 {
  font-size: 2rem !important;
}

.font-effect-3d {
  color: #ff3939 !important;
  text-shadow: 0px 1px 0px #84010e, 
               0px 2px 0px #c2192a, 
               0px 3px 0px #a01422, 
               0px 4px 0px #8e121e, 
               0px 5px 0px #720f19, 
               0px 6px 0px #5e0c15, 
               0px 7px 0px #46090f, 
               0px 8px 7px #0e0203 !important;
}

body {
  filter: contrast(97%)
          blur(0.7px);
}

.devCont {
  background: url("../Images/DM 3.png")
              no-repeat;
  background-position: center;
}

.summary, .skills, .folio {
  left: -500px !important;
}

.folBtn, .skilBtn, .sumBtn {
  background: transparent !important;
  border: none !important;
  font-family: propaganda, BBH Bartle, sans-serif;
  font-size: 5.5vw !important;
  letter-spacing: 10px;
  filter: blur(2.5px);
  text-shadow: 40px 2px 50px rgb(255, 0, 0), 
               -7px -3px 20px rgb(143, 0, 0); 
}

.sumDropDown {
  border-radius: 0px;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -910px 300px 1000px #552427,
              -100px -50px 500px #ff1f1f;
  overflow: scroll !important;            
  width: 0%;
  height: 500%;
  transform: translate3d(1272px, -50px, -135px) !important;
}

.sumBody::before {
  filter: blur(12px);
}

.folDropDown {
  border-radius: 0px;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -610px 500px 1000px #d41818,
              -100px -50px 500px #552427;
  overflow: hidden !important;            
  width: 0%;
  height: 500%;
  transform: translate3d(1272px, -287px, -135px) !important;
}

.skilDropDown {
  border-radius: 0px;
  border-color: #ff1f36;
  animation-name: ddMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: -910px 300px 1000px #d41818,
              -100px -50px 500px #ff1f1f;
  overflow: hidden !important;            
  width: 0%;
  height: 500%;
  transform: translate3d(1272px, -522px, -135px) !important;
}

@keyframes ddMenu {
  from {background-color: transparent;
        opacity: 0%;
        width: 0%;
        left: -100px;}
  to {background-color: #552427;
      width: 56.5%;
      left: 0px;
      opacity: 50%;}
}

.sumBody a{
  overflow: scroll;
  text-decoration: none;
}

.sumHed {
  font-family: propaganda, BBH Bartle, sans-serif;
  color: #ff3a3a;
  letter-spacing: 3.5px !important;
  opacity: 100%;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 250px 100px 50px rgb(156, 4, 4),
               80px -0px 10px rgb(255, 0, 0);
  filter: blur(2px);
}

.folHed {
  font-family: propaganda, BBH Bartle, sans-serif;
  color: #ff3a3a;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  font-size: 7vw;
  font-weight: bold;
  filter: blur(2px);
  left: 100px !important;
}

.folSubHed {
  font-family: cardinal, BBH Hegarty, sans-serif;
  letter-spacing: 10.5px !important;
  line-height: 150px;
  opacity: 80%;
}

.dTop {
  font-family: cardinal, BBH Hegarty, sans-serif;
  rotate: 90deg;
  top: 100px !important;
  font-size: 6vw !important;
  left: -410px;
  filter: blur(1.5px);
}

.dTopBorderDiv {
  height: 640px;
  width: 720px;
  border: 10px, solid, white;
}

.landscapeVid {
  top: -170px !important;
}

.phone {
  top: 170px !important;
  font-size: 6vw !important;
  left: 220px;
  filter: blur(1.5px);
}

.phoneBorderDiv {

}

.landscapeVid2 {
  top: 160px !important;
  left: 480px !important;
}

.skilHed {
  font-family: propaganda, BBH Bartle, sans-serif;
  color: #ff3a3a;
  letter-spacing: 2.5px !important;
  line-height: 150px;
  opacity: 100%;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: 110px 40px 50px rgb(156, 4, 4),
               80px 0px 10px rgb(255, 0, 0);
  filter: blur(2px);
}

.vector1 {
  opacity: 60%;
  width: 20% !important;
  top: 510px !important;
  left: 300px !important;
}

.vector2 {
  opacity: 50%;
  width: 20%;
  top: 200px;
  left: 400px;
}

.skilList {
  list-style-type: none;
  font-family: cardinal, sans serif;
  font-size: 3vw;
  letter-spacing: 8px;
  text-align: justify;
  opacity: 100%;
}

p, h3 {
  font-family: noto sans light;
  font-size: 1vw;
  letter-spacing: 8px;
  text-align: justify;
  text-shadow: 3px 5px 5px rgb(255, 0, 0), 
               -3px -5px 5px rgb(255, 0, 0);
  opacity: 100%;
  color: #ff1f36;
}

.foot {
  font-size: 0.85vw !important;
  font-family: noto sans light;
  opacity: 70%;
  letter-spacing: 2.5px;
  text-shadow: 4px 3px 7px red,
               -4px -3px 7px red;
}
 }
